---
layout: default
---

<div class="home">

<!--facebook-->
<div id="fb-root"></div>
<script type='text/blocked'>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--end facebook-->

  <div id="home-slider">
   <div>
     <h1>
       <span>Gymnastx a.s.d.</span>
     </h1>
     <p>
       <span>
         Ginnastica ritmica, artistica, acrobatica, tessuti e cerchio aereo a Reggio Emilia
       </span>
     </p>
   </div>
  </div> <!--end home-slider-->

  <div class="wrapper">
    <section id="mission">
      <p class="description">
        Gymnastx è un'associazione sportiva dilettantistica che promuove la ginnastica e le discipline acrobatiche.
      </p>
      <strong>La ginnastica come stile di vita!</strong>
      <p>
        La ginnastica è un'attività fisica che coinvolge e dà un'impronta particolare a molti altri aspetti della vita delle persone tra cui il rispetto delle regole, la puntualità, la dedizione, la volontà, il superamento delle proprie difficoltà e il saper lavorare in gruppo.
      </p>
    </section>
  </div> <!--end wrapper-->

  <section>
    <div id="corsi-grid" class="wrapper">

      {% include corsi.html %}
      <div class="scheda-corso" style="display:hidden"></div>
      <div class="scheda-corso" style="display:hidden"></div>

    </div>
  </section>

  <div id="gmx-fb-page">
    <div class="wrapper">
      <h4>Gymnastx su facebook</h2>
      <div class="fb-page" data-href="https://www.facebook.com/gymnastx.it?fref=nf" data-width="500" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/gymnastx.it?fref=nf"><a href="https://www.facebook.com/gymnastx.it?fref=nf">GYMNASTX</a></blockquote></div></div>
      <p>Seguici su facebook per restare sempre aggiornato</p>
    </div> <!--end wrapper-->
  </div> <!--end gmx-fb-page-->

  {% include partners.html %}

</div>
