---
layout: default
---

<div id="mappa">
<iframe width="600" height="450" frameborder="0" style="border:0" src="{{ site.data.GoogleKey.url }}" allowfullscreen></iframe>
</div> <!--end home-slider-->

<section id="contatti-content">
  <div class="wrapper">

  <div id="info-contatti">
    <h1>Contatti</h1>
    <p>
      Tel {% include telephone.html %} (lun-ven 9:00 - 13:00)
      <br>
      Mail {% include mail.html %}
      <br>
      <a href="https://api.whatsapp.com/send?phone=393283078787"><i class="fa fa-whatsapp"></i> Whatsapp</a>
    </p>
  </div> <!--end info contatti-->

  <div id="form-contatti">
    <h2>Inviaci un messaggio</h2>
    <p>Ti risponderemo il prima possibile</p>

    {% include contact-form.html %}

  </div>

  </div> <!--end wrapper-->
</section>

{% include facebook.html %}
