---
layout: default
---

<div id="mappa">
<!--<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Via%20Fratelli%20Cervi%2C%2027%2C%20Reggio%20Emilia%2C%20Province%20of%20Reggio%20Emilia%2C%20Italy&key=AIzaSyCzqCgDmlHukvJU-I2zEyqaGSzfNSJI-y4"></iframe>-->
<!--<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Gymnastx%20asd%2C%20Via%20Fratelli%20Cervi%2C%20Reggio%20Emilia%2C%20RE%2C%20Italia&key=AIzaSyBUeVnRvLoNJ8vsImjEorDi8_RBfvqgGj0" allowfullscreen></iframe>-->
<!--<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Gymnastx%20asd%2C%20Via%20Fratelli%20Cervi%2C%20Reggio%20Emilia%2C%20Province%20of%20Reggio%20Emilia%2C%20Italy&key=AIzaSyCzqCgDmlHukvJU-I2zEyqaGSzfNSJI-y4" allowfullscreen></iframe>-->
<iframe width="600" height="450" frameborder="0" style="border:0" data-blocked="https://www.google.com/maps/embed/v1/place?q=Gymnastx%20asd%2C%20Via%20Fratelli%20Cervi%2C%20Reggio%20Emilia%2C%20Province%20of%20Reggio%20Emilia%2C%20Italy&key=AIzaSyCzqCgDmlHukvJU-I2zEyqaGSzfNSJI-y4" allowfullscreen></iframe>
</div> <!--end home-slider-->

<section id="contatti-content">
  <div class="wrapper">

  <div id="info-contatti">
    <h1>Contatti</h1>
    <p>
      Tel {% include telephone.html %}
      <br>
      Mail {% include mail.html %}
      <br>
      <a href="https://api.whatsapp.com/send?phone=393400999602"><i class="fa fa-whatsapp"></i> Whatsapp</a>
    </p>
    <h3 id="orari-segreteria">Segreteria</h3>
    <p>
      Via F.lli Cervi 27 Reggio Nell'Emilia
    </p>
    <p>
      Aperta il lunedì dalle 16.30 alle 18.30
      <br>
      Per altre esigenze su appuntamento.
    </p>
  </div> <!--end info contatti-->

  <div id="form-contatti">
    <h2>Inviaci un messaggio</h2>
    <p>Ti risponderemo il prima possibile</p>

    {% include contact-form.html %}

  </div>

  </div> <!--end wrapper-->
</section>

{% include facebook.html %}
