<!--<form id="contact-form" action="" method="POST" enctype="multipart/form-data">-->
<!--<form id="contact-form" action="https://getsimpleform.com/messages?form_api_token=5e5c2cf7258385190c61045b213fec86" method="post">-->
  <!--[><input type='hidden' name='redirect_to' value='http://www.gymnastx.it/contatti/grazie/' /><]-->
  <!--<div class="row">-->
    <!--<label for="name">Il tuo nome:</label><br />-->
    <!--<input id="name" class="input" name="name" type="text" value="" size="30" required /><br />-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<label for="email">Il tuo indirizzo email:</label><br />-->
    <!--<input id="email" class="input" name="email" type="text" value="" size="30" required /><br />-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<label for="message">Messaggio:</label><br />-->
    <!--<textarea id="message" class="input" name="message" rows="7" cols="30" required ></textarea><br />-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<p>Cliccando su Invia si dichiara di accettare i termini di servizio e le politiche sulla privacy.</p>-->
  <!--</div>-->
  <!--<input id="submit" type="submit" value="Invia" />-->
  <!--<div id="form-messages"></div>-->
<!--</form>		-->

<!-- Do not change the code! -->
<a id="foxyform_embed_link_695973" href="http://www.foxyform.com/">foxyform</a>
<script type="text/javascript">
(function(d, t){
   var g = d.createElement(t),
       s = d.getElementsByTagName(t)[0];
   g.src = "http://www.foxyform.com/js.php?id=695973&sec_hash=1f6a8b2b5f2&width=350px";
   s.parentNode.insertBefore(g, s);
}(document, "script"));
</script>
<!-- Do not change the code! -->

<p>Cliccando su Invia si dichiara di accettare i <a href="/termini-servizio">termini di servizio e le politiche sulla privacy</a>.</p>
