<form id="contact-form" method="POST" action="https://formspree.io/info@gymnastx.it">
  <div class="row">
  <input id="name" class="input" type="text" name="name" placeholder="Il tuo nome" value="" required="">
  </div>
  <div class="row">
  <input id="email" type="email" name="_replyto" placeholder="La tua email" value="" required="">
  </div>
  <div class="row">
  <textarea name="message" rows="5" placeholder="Messaggio" required=""></textarea>
  </div>
  <input type="text" name="_gotcha" style="display:none">
  <input type="hidden" name="_format" value="plain" style="display:none">
  <input type="hidden" name="_next" value="{{ "/contatti/grazie/" || prepend: site.baseurl }}" />
  <button id="submit" type="submit">Invia</button>
</form>

<p>Cliccando su Invia si dichiara di accettare i <a href="/termini-servizio">termini di servizio e le politiche sulla privacy</a>.</p>
