{% for corso in site.data.corsi %}
      <div class="scheda-corso">
        <a href="{{ corso.link }}">
          <div class="scheda-corso-img" style="background-image:url({{ corso.img }})"></div>
          <div class="scheda-corso-text">
            <h3>
             <span> {{ corso.nome }} </span>
            </h3>
            <p class="descrizione-corso">
              {{ corso.descrizione }}
            </p>
            <p class="anni-corso">
              <span class="highlighted-inverse"> {{ corso.anni }} anni </span>
            </p>
            <p class="scheda-corso-info-button">
              <span> Info corso >> </span>
            </p>
          </div>
        </a>
      </div>
{% endfor %}
