<header id="menu" role="banner">

  <div class="wrapper">

    <a id="logo" href="/">
      Gymnastx a.s.d.
      <!--<img src="{{ '/assets/img/logo.png' | prepend: site.baseurl }}" alt="Gymnastx a.s.d.">-->
    </a>

    <nav role="navigation">
      <ul>
        <li><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
        <li><a href="{{ '/chi-siamo/' | prepend: site.baseurl }}">Chi Siamo</a></li>
        <li class="more"><a href="/corsi">Corsi</a> </li>
        <li><a href="{{ '/per-iscriversi/' | prepend: site.baseurl }}">Per iscriversi</a></li>
        <li><a href="{{ '/contatti/' | prepend: site.baseurl }}">Contatti</a></li>
      </ul>
    </nav>

    <a id="menu-button" href="javascript:void(0)">
      <i class="fa fa-bars fa-2x"></i>
    </a>


  </div> <!--end wrapper-->
</header>

<div id="fullscreen-menu">

  <div class="wrapper">

    <a id="close-menu-button" href="javascript:void(0)">
      <i class="fa fa-times fa-2x"></i>
    </a>

  </div> <!--end wrapper-->

  <nav role="navigation">
    <ul>
      <li><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
      <li><a href="{{ '/chi-siamo/' | prepend: site.baseurl }}">Chi Siamo</a></li>
      <li class="more"><a href="/corsi">Corsi</a> </li>
      <li><a href="{{ '/per-iscriversi/' | prepend: site.baseurl }}">Per iscriversi</a></li>
      <li><a href="{{ '/contatti/' | prepend: site.baseurl }}">Contatti</a></li>
      <!--<li class="more"><a href="/corsi">Corsi</a>-->
        <!--<ul>-->
          <!--{% for corso in site.data.corsi %}-->
            <!--<li><a href="{{ corso.link | prepend: site.baseurl }}">{{ corso.nome }}</a></li>-->
          <!--{% endfor %}-->
        <!--</ul>-->
      <!--</li>-->
    </ul>
  </nav>

</div> <!--end full screen menu-->

<div id="menu-push"></div>
