<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--open graph tags-->
  <meta property="og:site_name" content="Gymnastx ssd"/>
  <meta property="og:title" content="Gymnastx ssd - ginnastica ritmica, artistica, acrobatica, tessuti e cerchio aereo a Reggio Emilia
"/>
  <meta property="og:image" content="{{ "/assets/img/open_graph_image.jpg" || prepend: site.baseurl }}">
  <meta property="og:url" content="http://www.gymnastx.it/">
  <!-- end open graph tags-->

  <!--google verification-->
  <meta name="google-site-verification" content="bZKf5ziL0ETKH8EPXA1PJ_Vh6kljNE9L2czPu8-FLWc" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/assets/swiper/css/swiper.min.css" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  
  <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">

</head>
