<section class="partners">

  <a href="http://www.coni.it/it/" target="_blank">
    <img src="{{ '/assets/img/logo-coni' | prepend: site.baseurl}}" alt="Logo CONI">
  </a>

  <a href="http://www.csi-net.it" target="_blank">
    <img src="{{ '/assets/img/logo-csi' | prepend: site.baseurl}}" alt="Logo CSI">
  </a>

  <a href="http://www.federginnastica.it" target="_blank">
    <img src="{{ '/assets/img/logo-fgi' | prepend: site.baseurl}}" alt="Logo federginnastica">
  </a>

  <a href="http://www.fondazionesport.it" target="_blank">
    <img src="{{ '/assets/img/logo-fondazione-dello-sport-re' | prepend: site.baseurl}}" alt="Logo fondazione dello sport Reggio Emilia">
  </a>

  <a href="http://www.fisacgym.it" target="_blank">
    <img src="{{ '/assets/img/logo-fisac.png' | prepend: site.baseurl}}" alt="Logo FISAC">
  </a>

  <a href="https://www.aics.it/" target="_blank">
    <img src="{{ '/assets/img/logo-aics.png' | prepend: site.baseurl}}" alt="Logo AICS">
  </a>

  <a href="http://farmaciareginapacis.com/" target="_blank">
    <img src="{{ '/assets/img/farmacia-regina-pacis.jpg' | prepend: site.baseurl}}" alt="Logo Farmacia Regina Pacis">
  </a>

</section> <!--end partner-->
