---
layout: default
---

<div class="corso">

  <div class="cover-foto" style="background-image:url(/assets/img/artistica_femminile_large.jpg)">
  </div> <!--end home-slider-->

  <div class="wrapper">
    <section id="descrizione-corso">
      <h1>Ginnastica Artistica Femminile</h1>
      <p>
        Corsi di avviamento alla ginnastica artistica dedicati a bambine dai 6 ai 13 anni.
        <br>
        Questa attività stimola lo sviluppo della forza degli arti superiori e inferiori senza tralasciare lo sviluppo dell'elasticità.
        Inoltre è utilissima per stabilizzare la postura a livello lombare tramite il rinforzo della muscolatura addominale.
      </p>
      <p>
        Nella ginnastica artistica si imparano elementi a corpo libero, come capovolte, verticali, ruote, fino alle loro evoluzioni nei salti giro avanti e indietro (mortali), ribaltate e rondate.
        <br>
        Si utilizzano inoltre i grandi attrezzi tipici della disciplina come la trave, il volteggio e il trampolino elastico.
      </p>

      <p>
        I corsi di ginnastica artistica femminile si svolgono sia a Reggio Emilia che a Rivalta.
      </p>

      <h2>Gruppi Reggio Emilia</h2>

      <p>
        Dividiamo le allieve per fasce d'età e livello di conoscenze acquisite.
        <br>
        <span class="underline">Questi corsi si svolgono nella palestra "Cervi" in Via F.lli Cervi 27, Reggio Emilia.</span>
      </p>

      <h4>Ginnastica Artistica Femminile 1</h4>
      <p>
        Questo gruppo è dedicato a bambine che si avvicinano per la prima volta a questa disciplina.
        <br />
        Età: 5-7 anni.
      </p>
      <h4>Ginnastica Artistica Femminile 1 - solo tempo pieno </h4>
      <p>
        Questo gruppo è riservato alle allieve che frequentano le scuole elementari a tempo pieno.
        <br />
        Età: 6-7 anni.
      </p>
      <h4>Ginnastica Artistica Femminile 2</h4>
      <p>
        Questo gruppo è dedicato alle allieve del secondo ciclo elementari e medie che hanno già acquisito i fondamentali della ginnastica artistica.
        <br />
        Età: 8-10 anni.
      </p>
      <h4>Ginnastica Artistica Femminile 3</h4>
      <p>
        Questo gruppo è dedicato alle allieve che frequentano le scuole medie e superiori e che hanno già acquisito i fondamentali della ginnastica artistica.
        <br />
        Età: 10+ anni.
      </p>

      <section class="orari-tariffe">
        <a class="button" href="/assets/docs/orari_contributi_artistica_femminile_cervi.pdf">Orari e contributi Reggio</a>
        <a class="button" href="/iscrizioni/">Iscrizioni</a>
      </section>

      <section class="alert">
        <p>
          Attenzione! Tutti i nostri corsi sono a numero chiuso, vi raccomandiamo di prenotarvi per tempo!
        <br />
        Per info sulla disponibilità telefonare al {% include telephone.html %}
        </p>
      </section> <!--end alert-->

      <h2>Gruppi Rivalta</h2>

      <p>
        Dividiamo le allieve per fasce d'età e livello di conoscenze acquisite.
        <br>
        <span class="underline">Questi corsi si svolgono nella palestra "Ex Ciechi" in Via B. Pascal 81, Rivalta.</span>
      </p>

      <h4>Ginnastica Artistica Femminile 1</h4>
      <p>
        Questo gruppo è dedicato a bambine che si avvicinano per la prima volta a questa disciplina.
        <br />
        Età: 5-7 anni.
      </p>
      <h4>Ginnastica Artistica Femminile 2</h4>
      <p>
        Questo gruppo è dedicato alle allieve che hanno già acquisito i fondamentali della ginnastica artistica.
        <br />
        Età: 8-10 anni.
      </p>

      <section class="orari-tariffe">
        <a class="button" href="/assets/docs/orari_contributi_artistica_femminile_ciechi.pdf">Orari e contributi Rivalta</a>
        <a class="button" href="/iscrizioni/">Iscrizioni</a>
      </section>

      <section class="alert">
        <p>
        Attenzione! Tutti i nostri corsi sono a numero chiuso, vi raccomandiamo di prenotarvi per tempo!
        <br />
        Per info sulla disponibilità telefonare al {% include telephone.html %}
        </p>
      </section> <!--end alert-->

    </section> <!--end descrizione corso-->
  </div> <!--end wrapper-->

</div>
