---
layout: default
---

<div class="corso">

  <div class="cover-foto" style="background-image:url(/assets/img/tessuti_large.jpg)">
  </div> <!--end home-slider-->

  <div class="wrapper">
    <section id="descrizione-corso">
      <h1>Tessuti e cerchio aereo</h1>
      <p>
        Questo corso è dedicato a chiunque (bambini ed adulti) voglia cimentarsi in questa meravigliosa disciplina artistica che richiede al contempo grandi doti di forza, elasticità ed eleganza.
      </p>
      <p>
        Durante il corso verranno affrontati i movimenti di base come salite, chiavi e figure statiche utilizzando i tessuti, il cerchio e la corda.
        Una volta acquisiti questi movimenti avremo la sicurezza necessaria per affrontare figure dinamiche e cadute.
        <br>
        Per valorizzare l'espressività di ognuno si darà importanza anche alla creazione artistica e composizione coreografica.
      </p>
      <p>
        La lezione è strutturata in modo da fornire gradualmente la preparazione fisica di base necessaria.
        Dopo una fase di riscaldamento si procederà al potenziamento attraverso esercizi a corpo libero e con l'ausilio di attrezzi, per concludere con lo studio specifico dei vari movimenti agli appendimenti.
        <br>
        L'insegnante si occuperà di organizzare l'attività rispettando le competenze e le caratteristiche di ognuno.
      </p>
      <p>
        Il nostro impianto è composto da 5 attacchi in una struttura alta 7 metri.
        Ogni attacco è stato omologato per ospitare due persone contemporaneamente, per una capienza totale di 10 persone appese nello stesso momento.
        Attualmente disponiamo di 5 tessuti, 2 cerchi e una corda.
      </p>
        <span class="underline">I corsi si svolgono nella palestra "Cervi" in Via F.lli Cervi 27, Reggio Emilia.</span>
      </p>

      <h2>Gruppi adulti</h2>

      <h4>Tessuti - gruppo principianti</h4>
      <p>
        Questo gruppo è dedicato a ragazzi/e maggiorenni e adulti che non hanno mai provato tessuti o che vogliono perfezionare le basi acquisite precedentemente. Il corso è aperto a tutti quelli che abbiano desiderio di cimentarsi senza limiti di età, fisicità e/o competenze.
      </p>

      <h4>Tessuti - gruppo intermedi</h4>
      <p>
        Questo gruppo è dedicato a ragazzi/e maggiorenni e adulti che già conoscono le basi fondamentali dei tessuti e che vogliono ampliare le loro conoscenze e proseguire con l’acquisizione di nuovi elementi sempre più complessi e affini alla propria fisicità ed espressività.
      </p>

      <h4>Cerchio aereo</h4>
      <p>
        Il corso è aperto a tutti quelli che abbiano desiderio di cimentarsi nella disciplina del cerchio aereo senza limiti di età, fisicità e/o competenze.
      </p>

      <section class="orari-tariffe">
        <a class="button" href="/assets/docs/orari_contributi_tessuti_adulti.pdf">Orari e contributi adulti</a>
        <a class="button" href="/iscrizioni/">Iscrizioni</a>
      </section>

      <section class="alert">
        <p>
        Attenzione! Tutti i nostri corsi sono a numero chiuso, vi raccomandiamo di prenotarvi per tempo!
        <br />
        Per info sulla disponibilità telefonare al {% include telephone.html %}
        </p>
      </section> <!--end alert-->

      <h2>Gruppi bambini e ragazzi</h2>

      <h4>Elementari - medie</h4>
      <p>
        Età: 6-10 anni.
      </p>

      <h4>Medie - superiori</h4>
      <p>
        Età: 11-18 anni.
      </p>

      <section class="orari-tariffe">
        <a class="button" href="/assets/docs/orari_contributi_tessuti_junior.pdf">Orari e contributi bambini e ragazzi</a>
        <a class="button" href="/iscrizioni/">Iscrizioni</a>
      </section>

    </section> <!--end descrizione corso-->
  </div> <!--end wrapper-->

  <div class="wrapper">
    <section class="alert">
      <p>
      Attenzione! Tutti i nostri corsi sono a numero chiuso, vi raccomandiamo di prenotarvi per tempo!
      <br />
      Per info sulla disponibilità telefonare al {% include telephone.html %}
      </p>
    </section> <!--end alert-->
  </div> <!--end wrapper-->

</div>
