---
layout: default
---

<div class="iscrizioni">

  <div class="wrapper">
    <section>
      <h1>Per iscriversi</h1>
      <p>
        Ti ricordiamo che tutti i corsi sono a numero chiuso, se non ci hai ancora contattato per la disponibilità chiamaci al {% include telephone.html %} prima di proseguire.
      </p>
      <ul class="istruzioni">
      	<li>
          <a href="http://www.teamartist.org/non_logged/accounts?society_id=436" target="_blank">Clicca qui</a> e segui le istruzioni per iscriverti alla nostra società sportiva, riceverai a breve una email di accettazione della tua richiesta.
        </li>
        <li>
          Stampa la <a href="/assets/docs/richiesta_certificato_medico_gymnastx.pdf" target="_blank">richiesta di certificato medico non agonistico</a> da compilare e da consegnare al proprio pediatra per l'aggiornamento del libretto verde.
          <br>
          Se l'allievo ha compiuto 11 anni, anche per attività non agonistica, dovrà sottoporsi a visita medico sportiva sotto sforzo. Segui le indicazioni che trovi <a href="/assets/docs/visita_medico_sportiva.pdf" target="_blank">in questo documento</a>.
          <br>
          Per qualsiasi chiarimento potete rivolgervi alla segreteria.
    </li>
        <li>
          Versa la quota annuale e il contributo quadrimestrale/trimestrale, visibili in <a href="/assets/docs/contributi_gymnastx.pdf" target="_blank">questo file</a>, utilizzando le coordinate:
          <div class="coordinate">
                  IBAN: <code>IT12Z 03440 12800 000000 210700</code>
              <br>
                  Intestatario: <code>Gymnastx società sportiva dilettantistica</code>
              <br>
                  Banca: <code>Banco Desio ag. RE</code>
              <br>
                  Causale: <code>nome cognome allievo</code>
          </div>
        </li>
        <li>
          Consegna i documenti necessari all'insegnante o in segreteria, oppure inviaceli per mail all'indirizzo {% include mail.html %}:
          <ul>
            <li>
              <a href="/assets/docs/scheda_iscrizione_gymnastx.pdf" target="_blank">Modulo iscrizione</a> compilato e completo di firme.
            </li>
            <li>
              Certificato medico valido.
            </li>
            <li>
              Copia/foto della ricevuta del bonifico eseguito.
            </li>
          </ul>
        </li>
      </ul>

      <p id="ricevuta-fiscale">
        Se ti serve la ricevuta fiscale per la detrazione IRPEF, all'atto dell'iscrizione consegna in segreteria una busta indirizzata a te stesso, completa di francobollo.
        <br>
        Entro il mese di marzo dell'anno prossimo riceverai l'attestazione dei versamenti complessivi effettuati nell'anno in corso.
      </p>
    </section>
  </div> <!--end wrapper-->

</div>

<section id="documenti-utili">
  <div class="wrapper">

    <h1>Documenti utili</h1>

    <a href="/assets/docs/scheda_iscrizione_gymnastx.pdf">
      <i class="fa fa-file-text-o fa-2x"></i>
      <span>Modulo iscrizione</span>
    </a>

    <a href="/assets/docs/richiesta_certificato_medico_gymnastx.pdf">
      <i class="fa fa-heartbeat fa-2x"></i>
      <span>Richiesta certificato medico</span>
    </a>

    <a href="/assets/docs/visita_medico_sportiva.pdf">
      <i class="fa fa-heartbeat fa-2x"></i>
      <span>Istruzioni visita medico sportiva</span>
    </a>

    <a href="/assets/docs/contributi_gymnastx.pdf">
      <i class="fa fa-file-text-o fa-2x"></i>
      <span>Contributi</span>
    </a>

    <a href="/assets/docs/informativa_privacy_gymnastx.pdf">
      <i class="fa fa-file-text-o fa-2x"></i>
      <span>Informativa privacy</span>
    </a>

    <a href="/assets/docs/regolamento_gymnastx.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Regolamento Gymnastx</span>
    </a>

    <a href="/assets/docs/statuto_gymnastx.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Statuto</span>
    </a>

    <a href="/assets/docs/codice_etico_gymnastx.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Codice etico</span>
    </a>
  </div> <!--end wrapper-->
</section>
