---
layout: default
---

<div class="iscrizioni">

  <div class="wrapper">
    <section>
      <h1>Per iscriversi</h1>
      <ul class="istruzioni">
      	<li>
          Chiama il {% include telephone.html %} per verificare la disponibilità dei corsi.
        </li>
      	<li>
          Scarica l’APP Golee (disponibile sia per <a href="https://apps.apple.com/it/app/golee/id6449704513" target="_blank">iOS</a> che per <a href="https://play.google.com/store/apps/details?id=com.goleedev.golee&hl=it" target="_blank">Android</a>). Aspetta nostro invito tramite mail o Whatsapp, clicca sul link e segui le istruzioni.<br>Attraverso l’App potrai inserire e aggiornare i tuoi dati, effettuare i pagamenti, scaricare le ricevute, richiedere e caricare documenti, verificare le presenze, ricevere comunicazioni da parte dell’associazione, accettare e firmare tutta la modulistica necessaria.
        </li>
        <li>
          Certificato medico:
          <ul>
            <li>
              Dai 6 agli 8 anni, compila la <a href="/assets/docs/richiesta_certificato_medico_gymnastx.pdf" target="_blank">richiesta certificato medico</a> e consegnala al pediatra.
              <br>
              In caso di prima emissione ti servirà ECG. Siamo convenzionati con Farmacia Regina Pacis.
            </li>
            <li>
              Dagli 8 anni, compila la <a href="/assets/docs/visita_medico_sportiva_v1.pdf" target="_blank">richiesta di visita medico sportiva agonistica</a> e prenota dal fascicolo sanitario/farmacia/CUP.
              <br>
              In alternativa puoi prenotare in autonomia presso qualsiasi centro di medicina sportiva privato (siamo convenzionati con BIANALISI-Medical Center)
            </li>
          </ul>
        </li>
        <li>
          Provvedi al saldo in base alle scadenze tramite App, ci aiuterai nella gestione, avrai la situazione sempre aggiornata e sotto controllo e potrai scaricare le ricevute.
        </li>
      </ul>

      <p id="ricevuta-fiscale">
        Se ti serve la ricevuta fiscale per la detrazione IRPEF invia una mail all'indirizzo {% include mail.html %} tra marzo e maggio.
      </p>
    </section>
  </div> <!--end wrapper-->

</div>

<section id="documenti-utili">
  <div class="wrapper">

    <h1>Documenti utili</h1>

    <a href="/assets/docs/scheda_iscrizione_gymnastx.pdf">
      <i class="fa fa-file-text-o fa-2x"></i>
      <span>Modulo iscrizione</span>
    </a>

    <a href="/assets/docs/richiesta_certificato_medico_gymnastx.pdf">
      <i class="fa fa-heartbeat fa-2x"></i>
      <span>Richiesta certificato medico</span>
    </a>

    <a href="/assets/docs/visita_medico_sportiva_v1.pdf">
      <i class="fa fa-heartbeat fa-2x"></i>
      <span>Istruzioni visita medico sportiva</span>
    </a>

    <a href="/assets/docs/contributi_gymnastx.pdf">
      <i class="fa fa-file-text-o fa-2x"></i>
      <span>Contributi</span>
    </a>

    <a href="/assets/docs/informativa_privacy_gymnastx.pdf">
      <i class="fa fa-file-text-o fa-2x"></i>
      <span>Informativa privacy</span>
    </a>

    <a href="/assets/docs/regolamento_gymnastx.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Regolamento Gymnastx</span>
    </a>

    <a href="/assets/docs/patto_educativo_di_corresponsabilità.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Patto di corresponsabilità educativa</span>
    </a>

    <a href="/assets/docs/CODICE_DI_CONDOTTA_SAFE.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Codice di condotta SAFEGUARDING</span>
    </a>

    <a href="/assets/docs/SAFEGUARDING_POLICY_MOC.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Modello organizzativo e di controllo SAFEGUARDING</span>
    </a>

    <a href="/assets/docs/MODULO_SEGNALAZIONE_SAFEGUARDING.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Modulo di segnalazione SAFEGUARDING</span>
    </a>

    <a href="/assets/docs/ACCETTAZIONE_SAFE.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Modulo di accettazione SAFEGUARDING</span>
    </a>

    <a href="/assets/docs/POLIZZE_ASSICURATIVE.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Polizze assicurative</span>
    </a>

    <a href="/assets/docs/carta_dei_diritti_dei_bambini.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Carta dei diritti dei bambini</span>
    </a>
  </div> <!--end wrapper-->
</section>
