---
layout: default
---

<div class="iscrizioni">

  <div class="wrapper">
    <section>
      <h1>Per iscriversi</h1>
      <ul class="istruzioni">
      	<li>
          Chiama il {% include telephone.html %} per verificare la disponibilità dei corsi.
        </li>
        <li>
          Compila e firma il <a href="/assets/docs/scheda_iscrizione_gymnastx.pdf" target="_blank">modulo di iscrizione</a> e inviaci uno screenshot su <a href="https://api.whatsapp.com/send?phone=393283078787">Whatsapp</a>.
          <br>
          Consegna successivamente l'originale cartaceo in palestra.
        </li>
        <li>
          Certificato medico:
          <ul>
            <li>
              Dai 6 agli 8 anni, compila la <a href="/assets/docs/richiesta_certificato_medico_gymnastx.pdf" target="_blank">richiesta certificato medico</a> e consegnala al pediatra.
              <br>
              Inviaci uno screenshot del libretto verde su <a href="https://api.whatsapp.com/send?phone=393283078787">Whatsapp</a> e consegna successivamente una copia in palestra.
            </li>
            <li>
              Dagli 8 anni, compila la <a href="/assets/docs/visita_medico_sportiva_v1.pdf" target="_blank">richiesta di visita medico sportiva agonistica</a> e prenota dal fascicolo sanitario/farmacia/CUP.
              <br>
              In alternativa puoi prenotare in autonomia presso qualsiasi centro di medicina sportiva privato (siamo convenzionati con BIANALISI-Medical Center)
              <br>
              Inviaci uno screenshot del certificato medico sportivo su <a href="https://api.whatsapp.com/send?phone=393283078787">Whatsapp</a> e consegna successivamente l'originale in palestra.
            </li>
          </ul>
        </li>
        <li>
          Versa la quota annuale e il contributo per i corsi, visibili in <a href="/assets/docs/contributi_gymnastx.pdf" target="_blank">questo file</a>, utilizzando le coordinate:
          <div class="coordinate">
                  IBAN: <code>IT12Z 03440 12800 000000 210700</code>
              <br>
                  Intestatario: <code>Gymnastx società sportiva dilettantistica</code>
              <br>
                  Banca: <code>Banco Desio ag. RE</code>
              <br>
                  Causale: <code>nome cognome allievo - corso</code>
          </div>
          Inviaci uno screenshot della copia del bonifico su <a href="https://api.whatsapp.com/send?phone=393283078787">Whatsapp</a>.
        </li>
      </ul>

      <p id="ricevuta-fiscale">
        Se ti serve la ricevuta fiscale per la detrazione IRPEF invia una mail all'indirizzo {% include mail.html %} tra marzo e maggio.
      </p>
    </section>
  </div> <!--end wrapper-->

</div>

<section id="documenti-utili">
  <div class="wrapper">

    <h1>Documenti utili</h1>

    <a href="/assets/docs/scheda_iscrizione_gymnastx.pdf">
      <i class="fa fa-file-text-o fa-2x"></i>
      <span>Modulo iscrizione</span>
    </a>

    <a href="/assets/docs/richiesta_certificato_medico_gymnastx.pdf">
      <i class="fa fa-heartbeat fa-2x"></i>
      <span>Richiesta certificato medico</span>
    </a>

    <a href="/assets/docs/visita_medico_sportiva_v1.pdf">
      <i class="fa fa-heartbeat fa-2x"></i>
      <span>Istruzioni visita medico sportiva</span>
    </a>

    <a href="/assets/docs/contributi_gymnastx.pdf">
      <i class="fa fa-file-text-o fa-2x"></i>
      <span>Contributi</span>
    </a>

    <a href="/assets/docs/informativa_privacy_gymnastx.pdf">
      <i class="fa fa-file-text-o fa-2x"></i>
      <span>Informativa privacy</span>
    </a>

    <a href="/assets/docs/regolamento_gymnastx.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Regolamento Gymnastx</span>
    </a>

    <a href="/assets/docs/patto_educativo_di_corresponsabilità.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Patto di corresponsabilità educativa</span>
    </a>

    <a href="/assets/docs/CODICE_DI_CONDOTTA_SAFE.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Codice di condotta SAFEGUARDING</span>
    </a>

    <a href="/assets/docs/SAFEGUARDING_POLICY_MOC.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Modello organizzativo e di controllo SAFEGUARDING</span>
    </a>

    <a href="/assets/docs/MODULO_SEGNALAZIONE_SAFEGUARDING.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Modulo di segnalazione SAFEGUARDING</span>
    </a>

    <a href="/assets/docs/ACCETTAZIONE_SAFE.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Modulo di accettazione SAFEGUARDING</span>
    </a>

    <a href="/assets/docs/POLIZZE_ASSICURATIVE.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Polizze assicurative</span>
    </a>

    <a href="/assets/docs/carta_dei_diritti_dei_bambini.pdf">
      <i class="fa fa-book fa-2x"></i>
      <span>Carta dei diritti dei bambini</span>
    </a>
  </div> <!--end wrapper-->
</section>
